language: go
sudo: required
dist: trusty
go:
  - tip
before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - if ! go get code.google.com/p/go.tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi
script:
  - $HOME/gopath/bin/goveralls -repotoken $COVERALLS_TOKEN
env:
  global:
    secure: "M5QdQHwI+8HWdkTycaYoq+UeJpV80y6DusSyXlsZFx4SYKm43BbFrHr8hknsnbVK8qukjf+6GiW2XGxY5iUuP6+9kTV+iRBhzcv5Qr0KKpF9IKjjiNklG8Ml│  ~
dJQmMchbvgGRHU7Vbp9ZpPxSKN7fnhU15wN1IFTfTqFOsTUDYOAXvPSFIAB9F5Hn3L9b9Qwn80gW5Ky8Ad0+MLad/1RJ+/NcJDqVliKhlzTzoxhaHxVWPD/ut6qguBLVySV│  ~
+oQmYaCbS/RQE7NkAx00eoyP+E7yeVsI7/6Zjnc/dMvzobHiD1QZNXZOFtuY+bokT1S9+4C2IJMQOpgK54XVA+K07WL9UIbievMRMFXOMVtTlsG4JS30asPbcapC+OsZSj/│  ~
eBUbt1PeZ6IZjmEpAKp8+ubCrKAn5t2IhtxoTDQvUZUu9wi2ADFvBqwl238Pf3uO6sS0y8DpdwQ+LxyTjn0L3zcFs9NndLCCixSnDKaEt3RszLH1lbu4dckTo3tyl4xiADD│  ~
QvSV7mfu0agfQr2E26D0p+Ed0qBSlBa6lsqYPRKiTaR9uaZCeOmHSUS59bujpVU0V6hsyROjsansnrgPwiwezRrrpyJnyNZ3f1oSMlcWE4+kJJb6tkKFJio+oDL1kXf7cMM│  ~
Hy+IKc0uW/39rNz//28FZuVY1QwlflzW8L/hwTQ="
