h1 {
	text-align: center;
}

#selected-tag {
    visibility: hidden;
}

#help {
    width: auto;
    height: auto;
    visibility: hidden;
    top: 50%;
    left: 50%;
}

#dialog {
    top: 50%;
    left: 50%;
    background-color: #f1edf3;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}

.tag-area {
    padding: 0 10px 0 0;
}

.tile-area-controls {
    position: fixed;
    right: 40px;
    top: 40px;
}

.tile-area-title {
    font-family: "Comic Sans MS";
}

.tile-group {
    left: 100px;
}

.tile, .tile-small, .tile-sqaure, .tile-wide, .tile-large, .tile-big, .tile-super {
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}

#charmSettings .button {
    margin: 5px;
}

.schemeButtons {
    /*width: 300px;*/
}

@media screen and (max-width: 640px) {
    .tile-area {
        overflow-y: scroll;
    }
    .tile-area-controls {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .tile-area {
        overflow-y: scroll;
    }

    .tile-area-controls {
        display: none;
    }
}

